<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")
</head>
<body>
    <main>
        <header>
            <a id="logo" asp-area="" asp-controller="Home" asp-action="Index">@Config.ProjectName</a>
            @if (User.Identity.IsAuthenticated){<a id="loginlink" asp-area="" asp-controller="Account" asp-action="Logout">Выйти</a>}
            else {<a id="loginlink" asp-area="" asp-controller="Account" asp-action="Login">Войти</a>}
        </header>
        <nav>
            <div id="profile">
                @if (User.Identity.IsAuthenticated)
                {
                    <img id="profileimg" src="~/img/profile.png" alt="profile icon">
                    <div id="profilewelcome">
                        <div>
                            <span class="profiletext" style="color: #b5b9c4;">Добро пожаловать,</span><br />
                            <span class="profilemaintext"></span><br />
                            <span class="profiletext">Мои объявления</span>
                        </div>
                    </div>
                    <div id="profilebutton">
                        <button class="button1">Новое объявление</button>
                        <div></div>
                        <button class="button1">Новая запись</button>
                    </div>
                }
                else
                {
                    <img id="profileimg" src="~/img/profile.png" alt="logo">
                    <div id="profilewelcome">
                        <div>
                            <span class="profiletext" style="color: #b5b9c4;">Добро пожаловать</span><br />
                            <span class="profilemaintext">Вы не авторизованы</span><br />
                        </div>
                    </div>
                }
            </div>
            <div id="categories">
                <p class="title">Объявления</p>
                <div class="category">
                    <img class="categoryicon" src="~/img/iconlib.png" alt="icon">
                    <a asp-area="" asp-controller="Home" asp-action="Library"><div class="button1 button2" id="libbutton">@Config.gallery0</div></a>
                </div>
                <div class="category">
                    <img class="categoryicon" src="~/img/iconmark.png" alt="icon">
                    <a asp-area="" asp-controller="Home" asp-action="Market"><div class="button1 button2" id="marketbutton">@Config.gallery1</div></a>
                </div>

                <p class="title">Записи</p>
                <div class="category">
                    <img class="categoryicon" src="~/img/iconsearch.png" alt="icon">
                    <a asp-area="" asp-controller="Home" asp-action="Search"><div class="button1 button2" id="searchbutton">@Config.gallery2</div></a>
                </div>
                <div class="category">
                    <img class="categoryicon" src="~/img/iconrecom.png" alt="icon">
                    <a asp-area="" asp-controller="Home" asp-action="Recommend"><div class="button1 button2" id="recombutton">@Config.gallery3</div></a>
                </div>
            </div>
        </nav>


        <div id="content">
            @RenderBody()
        </div>


        <footer>
        </footer>
    </main>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>