@model GalleryViewModel

@{ 
    ViewData["Title"] = @Model.GalleryName;
}
<div class="contentblock">
    <h1>@Model.GalleryName</h1>
    <div id="gallerygrid">
            @foreach (var book in Model.GalleryContentBooks)
            {
                if (book.BookGallery == 0) { ViewData["GalleryColor"] = @Config.yellow; }
                if (book.BookGallery == 1) { ViewData["GalleryColor"] = @Config.red; }
                if (book.BookGallery == @Model.GalleryNum || (@Model.GalleryNum == 3))
                {
                    <div class="gallergridblock">
                        <a asp-area="" asp-controller="Books" asp-action="Book" asp-route-id="@book.Id">
                            <div class="post">
                                <div class="posticon" style="background-color:@ViewData["GalleryColor"];"></div>
                                <div class="postname">@book.Title</div>
                                <div class="postimg" style="border-top: solid 1px @ViewData["GalleryColor"];"><img class="photo" src="~/img/photos/@book.ImagePath" onError="this.src='../img/photos/0.png'" alt="photo"></div>
                                <div class="postinfo">
                                    <b>@book.OwnerName</b> <br>
                                    <b>Автор:</b> @book.Author<br>
                                    <b>Год:</b> @book.Year<br>
                                    <b>Тематика:</b> @book.Subject <br>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
    </div>
</div>