@model IQueryable<Book>
@{
    ViewBag.Title = "Панель администратора";
}
<div class="contentblock">
    <div style="width:533px; margin: 0 auto;">
        <h1>@ViewBag.Title</h1>
        <a asp-area="Admin" asp-controller="Books" asp-action="Edit" asp-route-id="">
            <button style="width: 533px;" class="button1 addbutton">Добавить книгу</button>
        </a>
        <div class="br20"></div>
        @if (Model.Any())
        {
            <table width="100%" style="text-align:center;">
                @foreach (Book entity in Model)
                {
                    <tr>
                        <td style="width:33%"><a asp-area="" asp-controller="Books" asp-action="Book" asp-route-id="@entity.Id"><b> @($"{entity.Title}") </b></a></td>
                        <td style="width:33%"><a asp-area="Admin" asp-controller="Books" asp-action="Edit" asp-route-id="@entity.Id">Редактировать</a></td>
                        <td style="width:33%">
                            <form style="display: inline-block;" id="form-@entity.Id" asp-area="Admin" asp-controller="Books" asp-action="Delete" method="post">
                                <input type="hidden" name="id" value="@entity.Id">
                                <button class="button1 deletebutton" onclick="document.getElementById('form-@entity.Id').submit();">Удалить</button>
                            </form>
                        </td>
                    </tr>
                }
            </table>
        }
        <div class="br20"></div>
        <form style="width: 100%" asp-area="" asp-controller="Account" asp-action="Logout" method="post">
            <button style="width: 533px;" class="button1" type="submit">Выйти</button>
        </form>
    </div>
</div>


