@model IEnumerable<PolyBook.Domain.Entities.Book>
@{

}

<div class="contentblock">
    <h1>Новые объявления</h1>
    <div class="board">
        <div class="boardscroll">
            @foreach (var book in Model){
                if (book.BookGallery == 0){ ViewData["BookGalleryColor"] = @Config.yellow; }
                if (book.BookGallery == 1) { ViewData["BookGalleryColor"] = @Config.red; }
            <a asp-area="" asp-controller="Books" asp-action="Book" asp-route-id="@book.Id">
                <div class="post">
                    <div class="posticon" style="background-color:@ViewData["BookGalleryColor"];"></div>
                    <div class="postname">@book.Title</div>
                    <div class="postimg" style="border-top: solid 1px @ViewData["BookGalleryColor"];"><img class="photo" src="img/photos/1.png" alt="photo"></div>
                    <div class="postinfo">
                        <b>Иван Иванов</b> <br>
                        <b>Автор:</b> @book.Author<br>
                        <b>Год:</b> @book.Year<br>
                        <b>Тематика:</b> @book.Subject <br>
                    </div>
                </div>
            </a> 
            <div></div>
            }
        </div>
    </div>
</div>
